<!DOCTYPE html>
<html lang="en">

<header>
    <h1 style="justify-content: center; align-items: center; display: flex;"><%- header %></h1>
</header>

<body class="container">

    <main>
        <div style="background-color: lightblue; margin-right: 100px; margin-left: 100px;">
            <pre><code><%- JSON.stringify(results, null, 1) %></code></pre>
        </div>
    </main>
</body>

</html>